<% if genres.present? %>
<% @genres.each do |g| %>
  <tr>
    <td>
      <%= link_to g.genre, searches_path(g: g.genre, model: "g"), class: "text-dark text-decoration-none" %>
    </td>
  </tr>
<% end %>
<% end %>