<% if genres.present? %>
<% @genres.each do |g| %>
 <tr>
  <td>
   <%= link_to g.name, genres_path(name: g.name, model: "genre"), class: "text-dark text-decoration-none" %>
  </td>
 </tr>
<% end %>
<% end %>
